@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  #root,
  #root > * {
    font-family: "Poppins", sans-serif;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 251 33% 16%;

    --card: 210 25% 97%;
    --card-foreground: 251 33% 16%;

    --container: 210 25% 97%;
    --container-foreground: 251 33% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 251 33% 16%;

    --primary: 21 100% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 178 52% 45%;
    --secondary-foreground: 0 0% 100%;

    --muted: 255 3% 54%;
    --muted-foreground: 255 3% 54%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 7 93% 58%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 47% 45%;
    --success-foreground: 0 0% 100%;

    --warning: 40 93% 53%;
    --warning-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
